@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #ae731e;
  --footer-image: url(../icons/footer.svg);
  --font-phlu: url(../fonts/km-docs.tff);
}

@layer base {
   html {
  }

  h1 {
    @apply text-3xl lg:text-[40px] font-phlu font-semibold;
  }

  h2 {
    @apply text-2xl  font-phlu font-semibold;
  }

  h3 {
    @apply text-xl  font-phlu font-medium;
  }

  h4 {
    @apply text-xl  font-phlu;
  }

  p {
    @apply leading-[21px] font-normal font-phlu;
  }

  a {
    @apply cursor-pointer font-phlu;
  }

  button {
    @apply cursor-pointer font-phlu;
  }
  
  .normal-spacing {
    @apply lg:px-8 xl:px-12 px-5;
  }
}